@media screen and (min-width:768px) {
	.nav h6{
		display:none;
	}
	.nav button {
		display:none;
	}

	.timeline {
	height:40em;
	width:40em;
	margin:auto;
	border: 12px solid $darkFaded;
	position:absolute;
	top:15%;
	left:0;
	right:0;
	border-radius:50%;
	z-index:1;
	}
	.innerCircle {
	height:33em;
	width:33em;
	margin:3em auto;
	margin-bottom:0;
	border: 3px solid $darkFaded;
	position:relative;
	border-radius:50%;
	z-index:1;
	}

	.fp-controlArrow {
		display: initial;
	}
}