@media screen and (min-width: 768px) {
  /* line 2, /Users/webby/Desktop/Senior Show/SeniorShow/css/queries/_desktop.scss */
  .nav h6 {
    display: none; }

  /* line 5, /Users/webby/Desktop/Senior Show/SeniorShow/css/queries/_desktop.scss */
  .nav button {
    display: none; }

  /* line 9, /Users/webby/Desktop/Senior Show/SeniorShow/css/queries/_desktop.scss */
  .timeline {
    height: 40em;
    width: 40em;
    margin: auto;
    border-width: 12px;
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    border-radius: 50%; }

  /* line 20, /Users/webby/Desktop/Senior Show/SeniorShow/css/queries/_desktop.scss */
  .innerCircle {
    height: 33em;
    width: 33em;
    margin: 3em auto;
    margin-bottom: 0;
    border-width: 3px;
    position: relative;
    border-radius: 50%; }

  /* line 30, /Users/webby/Desktop/Senior Show/SeniorShow/css/queries/_desktop.scss */
  .player {
    width: 40em;
    height: 40em;
    border: 3.7em transparent solid;
    top: 15.5%; }

  /* line 37, /Users/webby/Desktop/Senior Show/SeniorShow/css/queries/_desktop.scss */
  .fp-controlArrow {
    display: initial; }

  /* line 42, /Users/webby/Desktop/Senior Show/SeniorShow/css/queries/_desktop.scss */
  .section.bottom {
    top: 15%;
    width: 40em;
    height: 40em; }

  /* line 48, /Users/webby/Desktop/Senior Show/SeniorShow/css/queries/_desktop.scss */
  .fp-slideNav {
    position: absolute;
    bottom: 30em;
    left: 15em; }

  /*
.logo {
	position:absolute;
	top:25%;
	left:28%;
	background:transparent;
}*/
  /* line 61, /Users/webby/Desktop/Senior Show/SeniorShow/css/queries/_desktop.scss */
  .logo img {
    width: 60em; }

  /* line 64, /Users/webby/Desktop/Senior Show/SeniorShow/css/queries/_desktop.scss */
  .fp-slideNav ul li a.active span {
    background: #FFF; }
 }
