@media screen and (min-width: 768px) {
  /* line 2, /Users/webby/Desktop/Senior Show/SeniorShow/css/queries/_desktop.scss */
  .nav h6 {
    display: none; }

  /* line 5, /Users/webby/Desktop/Senior Show/SeniorShow/css/queries/_desktop.scss */
  .nav button {
    display: none; }

  /* line 9, /Users/webby/Desktop/Senior Show/SeniorShow/css/queries/_desktop.scss */
  .timeline {
    height: 40em;
    width: 40em;
    margin: auto;
    border-width: 12px;
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    border-radius: 50%; }

  /* line 20, /Users/webby/Desktop/Senior Show/SeniorShow/css/queries/_desktop.scss */
  .innerCircle {
    height: 33em;
    width: 33em;
    margin: 3em auto;
    margin-bottom: 0;
    border-width: 3px;
    position: relative;
    border-radius: 50%; }

  /* line 30, /Users/webby/Desktop/Senior Show/SeniorShow/css/queries/_desktop.scss */
  .player {
    width: 40em;
    height: 40em;
    overflow: hidden;
    border: 3.7em transparent solid;
    margin: auto;
    margin-bottom: 0;
    position: absolute;
    top: 15.5%;
    left: 0;
    right: 0;
    border-radius: 50%;
    z-index: 1000; }

  /* line 45, /Users/webby/Desktop/Senior Show/SeniorShow/css/queries/_desktop.scss */
  .fp-controlArrow {
    display: initial; }

  /* line 50, /Users/webby/Desktop/Senior Show/SeniorShow/css/queries/_desktop.scss */
  .section.bottom {
    top: 15%;
    width: 40em;
    height: 40em; }

  /* line 56, /Users/webby/Desktop/Senior Show/SeniorShow/css/queries/_desktop.scss */
  .fp-slideNav {
    position: absolute;
    bottom: 30em;
    left: 15em; }

  /* line 61, /Users/webby/Desktop/Senior Show/SeniorShow/css/queries/_desktop.scss */
  .fp-slideNav ul li a.active span {
    background: #FFF; }
 }
