@media screen and (min-width:768px) {
	.nav h6{
		display:none;
	}
	.nav button {
		display:none;
	}

	.timeline {
		height:40em;
		width:40em;
		margin:auto;
		border-width: 12px;
		position:absolute;
		top:15%;
		left:0;
		right:0;
		border-radius:50%;
	}
	.innerCircle {
		height:33em;
		width:33em;
		margin:3em auto;
		margin-bottom:0;
		border-width: 3px;
		position:relative;
		border-radius:50%;
	}

	.player {
		width:40em;
		height:40em;
		border:3.7em transparent solid;
		top:15.5%;
	}

	.fp-controlArrow {
		display: initial;
	}

	.section{
		&.bottom {
			top:15%;
			width:40em;
			height:40em;
		}
	}
	.fp-slideNav {
		position:absolute;
		bottom:30em;
		left:15em
	}
	/*
.logo {
	position:absolute;
	top:25%;
	left:28%;
	background:transparent;
	}*/

	.logo img {
		//width:60em;
	}

	.fp-slideNav ul li a.active span{
		background:$light;
	}

	.bottom-button{
		position:absolute;
		bottom:0;
		width:100%;
		height:19%;
		h2{
			text-align:center;
			color:$light;
			font-size: 5em;
			line-height:.6em;
			margin:0;
		}
		p {
			text-align:center;
			margin-top:0;
			margin-bottom: 2em;
			color:#fff;
			font-family:'Montserrat';
			font-weight:300;
			letter-spacing: .8em;
			font-size: 1.2em;
		}
		a:hover, a:focus {
			text-decoration:none;
		}
	}
}

@media screen and (min-width:992px){
	#welcome{
		ul{
			li{
				width:9.0909090909%;
				height:20%;
			}
		}
	}
}