// Third-party
@import "vendor/bootstrap";
@import "vendor/fullPage";


// Modules and Variables
@import "partials/base";

// Partials
@import "partials/typography";
@import "partials/layouts";
@import "partials/figures";
@import "partials/navigation";

// Media Queries
@import "queries/tablet";
@import "queries/desktop";