.img-headshot{
  overflow:hidden;
  position:relative;
  img{
    min-width:100%;
    min-height:100%;
  }
}
.slide-side {
  height:100%;
  padding:0;
  margin:0;
}

.fillheight{
  height:100%;
  width:auto;
}

.fillwidth{
  width:100%;
  height:auto;
}

.first {
  margin:0;
  padding:0;
  height:100%;
}

.first .img-headshot {
  height:50%;
  padding:0;
}

.player {
  width:18em;
  height:18em;
  overflow:hidden;

  border:2.1em transparent solid;

  margin:auto;
  margin-bottom:0;

  position:absolute;
  top:22%;
  left:0;
  right:0;

  border-radius:50%;
  z-index:1000;

  img{
    width:100%;
  }
}


.logo {
  
  img{
    @extend .center-abs;
  }

  width:100%;
  height:100%;

  position:absolute;
  top:0;
  right:0;

  pointer-events:none;


  background:transparent;
  z-index:15;
}

.logo img {
  //width:20em;
}

#welcome {
  li{
    opacity: 0.5;
    transition: opacity 500ms;
    figure{
      position:relative;
    }
    figcaption{
      @extend .center-abs;
      @extend .min-content;

      opacity:0;
      width:100%;
      height:100%;

      transition: all 500ms;

      background:$darkFaded;
      color:$light;

      h5{
        @extend .center-abs;
        @extend .min-content;
      }
    }
    &:hover{
      opacity: 0.75;
      figcaption{
        opacity:1;
      }
    }
  }
}

.about img {
  width:40px;
  margin: .5em;
}

.about img:hover {
  opacity: .6;
  transition: all 300ms;
}

.work img {
  width:100%;
  padding: 1.2em 0;
}