/*.slide {*/
  .img-headshot{
    overflow:hidden;

    img{
      min-width:100%;
      min-height:100%;
    }
  }
  .slide-side {
    height:100%;
    padding:0;
    margin:0;
  }
  /*.small {
    height: 50%;
    float:left;
    padding:0;
    margin:0;
  }*/

  .fillheight{
    height:100%;
    width:auto;
  }

  .fillwidth{
    width:100%;
    height:auto;
  }

  .first {
    margin:0;
    padding:0;
    height:100%;
  }

  .first .img-headshot {
    height:50%;
    padding:0;
  }
  .img-headshot img {
    //width:100%;
  }

/*}*/