/*.slide {*/
/* line 2, /Users/andrewkrigline/Projects/01.School/08.Senior Spring/Senior Show/SeniorShow/css/partials/_figures.scss */
.img-headshot {
  overflow: hidden; }

/* line 5, /Users/andrewkrigline/Projects/01.School/08.Senior Spring/Senior Show/SeniorShow/css/partials/_figures.scss */
.slide-side {
  height: 100%;
  padding: 0;
  margin: 0; }

/*.small {
    height: 50%;
    float:left;
    padding:0;
    margin:0;
  }*/
/* line 16, /Users/andrewkrigline/Projects/01.School/08.Senior Spring/Senior Show/SeniorShow/css/partials/_figures.scss */
img {
  min-width: 100%;
  min-height: 100%; }

/* line 21, /Users/andrewkrigline/Projects/01.School/08.Senior Spring/Senior Show/SeniorShow/css/partials/_figures.scss */
.first {
  margin: 0;
  padding: 0;
  height: 100%; }

/* line 27, /Users/andrewkrigline/Projects/01.School/08.Senior Spring/Senior Show/SeniorShow/css/partials/_figures.scss */
.first .img-headshot {
  height: 50%;
  padding: 0; }

/* line 31, /Users/andrewkrigline/Projects/01.School/08.Senior Spring/Senior Show/SeniorShow/css/partials/_figures.scss */
.img-headshot img {
  width: 100%; }

/*}*/