/*.slide {*/
  .img-headshot{
    overflow:hidden;
  }
  .slide-side {
    height:100%;
    padding:0;
    margin:0;
  }
  /*.small {
    height: 50%;
    float:left;
    padding:0;
    margin:0;
  }*/
  img {
    min-width:100%;
    min-height:100%;
  }

  .first {
    margin:0;
    padding:0;
    height:100%;
  }

  .first .img-headshot {
    height:50%;
    padding:0;
  }
  .img-headshot img {
    //width:100%;
  }

/*}*/