
body {
	height:100%;
	padding:0;
}

.fp-section {
	border: 0 solid $dark;
}

#welcome{
	background:$red;

	ul{
		width:100%;
		height:100%;

		li{
			width:9.0909090909%;
			height:20%;
			float:left;
			a,
			figure{
				width:100%;
				height:100%;
			}
		}
	}
}

.timeline {
	height:26em;
	width:26em;
	margin:auto;
	border: 12px solid $darkFaded;
	position:absolute;
	top:22%;
	left:0;
	right:0;
	border-radius:50%;
	z-index:1;
}
.innerCircle {
	height:22em;
	width:22em;
	margin:1.2em auto;
	margin-bottom:0;
	border: 3px solid $darkFaded;
	position:relative;
	border-radius:50%;
	z-index:1;
}

.timeline__anchor {
	width:2em;
	height:2em;
	border-radius:50%;
	color:$lightFaded;
}

.fp-controlArrow {
	display:none;
}

.slide, .section {
background-size:cover;
background-repeat:none;
position:relative;
}

#welcome ul li img {
	width:100%;
}

.bottom-button{
	position:absolute;
	bottom:0;
	width:100%;
	z-index:1000;
}
.bottom-panel{
	position:absolute;
	bottom:0;
	width:100%;
	//height:100%;

	transition: all 500ms;

	z-index:14;

	background:fade-out($dark, .25);
}