
body {
	height:100%;
}

#home{
	background:$red;
}

#ab{
	background:$dark;
}

#ch{
	background:$light;
}

#im{
	background:$dark;
}

#mp{
	background:$light;
}

#pv{
	background:$dark;
}

#vy{
	background:$light;
}