
body {
	height:100%;
	padding:0;
}

.fp-section {
	border: 0 solid $dark;
}

#welcome{
	background:$red;

	ul{
		width:100%;
		height:100%;

		li{
			width:9.0909090909%;
			height:20%;
			float:left;
			a,
			figure{
				width:100%;
				height:100%;
			}
		}
	}
}

#ab{
	background:$dark;
}

#ch{
	background:$light;
}

#im{
	background:$dark;
}

#mp{
	background:$light;
}

#pv{
	background:$dark;
}

#vy{
	background:$light;
}



.timeline {
	height:40em;
	width:40em;
	margin:auto;
	border: 12px solid $darkFaded;
	position:absolute;
	top:15%;
	left:0;
	right:0;
	border-radius:50%;
	z-index:1;
}
.innerCircle {
	height:33em;
	width:33em;
	margin:3em auto;
	margin-bottom:0;
	border: 3px solid $darkFaded;
	position:relative;
	border-radius:50%;
	z-index:1;
}

.timeline__anchor {
	width:2em;
	height:2em;
	border-radius:50%;
	color:$lightFaded;
}

.slide, .section {
//background: url('../img/invite.png');
background-size:cover;
background-repeat:none;
}

.more {
	width:3em;
	height:3em;
	margin:12em auto;
	border-bottom: 5px solid $darkFaded;
	border-right: 5px solid $darkFaded;
	-ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

.more p{
	color:$lightFaded;
	font-size:1.3em;
	padding-left:1.3em;
	padding-bottom:5em;
	-ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
}

.more:hover {
	border-bottom: 5px solid $dark;
	border-right: 5px solid $dark;
}

.more a:hover, .more a:focus {
	text-decoration:none;
}