
.nav {
	background-color: $darkFaded;
	color: $lightFaded;
	position:fixed;
	top:0;
	width:100%;
	padding:0;
	margin:0;

	ul {
		width:100%;
		text-align:center;
		margin-top:1.6em;
	}

	li {
		list-style:none;
		padding-left:1em;
		padding-right:1em;
		display:inline;
		a {
			color:$lightFaded;
			font-size:1.2em;
			font-family:'Montserrat';
			font-weight:300;
			letter-spacing:.2em;
			padding-bottom:0;
			transition:all 300ms;
			text-decoration:none;

			&:hover{
				color:$red;
				font-size:1.4em;
			}
			&:focus {
				font-size:1.4em;
			}
		}
		&.active{
			a{
				color:$red;
				font-size:1.4em;
			}
		}

		&.home a {
			letter-spacing:.15em;
			font-family:'Teko';
			font-weight:400;
			font-size:5em;
			padding:0;
			line-height:.6em;
			vertical-align:middle;
		}
	}
}

.nav button {
	z-index:1000;
	background:transparent;
	border:none;
}

.nav .info{
	position:absolute;
	right:0em;
	top:1em;
}

.modal-body {
	z-index:999;
}

.navbar-toggle .icon-bar {
	background:$lightFaded;
}

.fp-controlArrow.fp-next{
	right: 15px;
	border-color: transparent transparent transparent fade-out($dark,.75);
}

.fp-controlArrow.fp-prev {
	right: 15px;
	border-color: transparent fade-out($dark,.75) transparent transparent ;
}

#fp-nav.right{
	display:none;
}

.section .fp-slidesNav{
	&.bottom {
		margin:auto !important;
		position:absolute;
		right:0;
		left:0;
		top:21.25%;
		bottom:auto;
		width:26.5em;
		height:26.5em;
		opacity:0;
		z-index:150;
		transition: all 300ms !important;
	}
	.darken {
		background:$dark !important;
	}
	ul {
		width:100%;
		height:101%;
		position:relative;
		right:1em;
		bottom:.95em;

		li{
			span{
				background:$lightFaded;
				transition: all 400ms;
				border:none;
			}
			a span{
				background:$light;
				width:.7em;
				height:.7em;
				border:none;
			}
			a:active span{
				background:$light;
				transition: all 400ms;
				border:none;
			}

			transition: all 400ms;
			position:absolute;
			
			&:nth-child(1) {
				left:50%;
				top:9.7%;
			}
			&:nth-child(2) {
				left:82%;
				top:25%;
			}
			&:nth-child(3) {
				left:90%;
				top:60%;
			}
			&:nth-child(4) {
				left:68%;
				top:87%;
			}
			&:nth-child(5) {
				left:32%;
				top:87%;
			}
			&:nth-child(6) {
				left:10%;
				top:60%;
			}
			&:nth-child(7) {
				left:18%;
				top:25%;
			}
		}
	}
}

.active .fp-slidesNav{
	&.visible {
		opacity:1;
		z-index:900;
		transition:all 0ms;
	}
}
