
.nav {
    background-color: $darkFaded;
    color: $lightFaded;
    position:fixed;
    top:0;
    width:100%;
    padding:0;
    margin:0;
}

.nav ul {
	width:100%;
	text-align:center;
	margin-top:1.6em;
}

.nav li {
	list-style:none;
	padding-left:1em;
	padding-right:1em;
	display:inline;


}

.nav li a {
	color:$lightFaded;
	font-size:1.2em;
	font-family:'Montserrat';
	font-weight:300;
	letter-spacing:.2em;
	padding-bottom:0;
	transition:all 300ms;
}

.nav li.home a {
	letter-spacing:.15em;
	font-family:'Teko';
	font-weight:400;
	font-size:5em;
	padding:0;
	line-height:.6em;
	vertical-align:middle;

}

.nav a:hover{
	color:$red;
	text-decoration:none;
	transition:all 300ms;
	font-size:1.4em;
}

 .nav a:focus {
 	text-decoration:none;
	transition:all 300ms;
	font-size:1.4em;
 }

 
.fp-controlArrow, .fp-next{
 	right: 15px;
	border-width: 38.5px 0 38.5px 34px;
	border-color: transparent transparent transparent $darkFaded;
 }

 .fp-controlArrow, .fp-prev {
 	right: 15px;
	border-width: 38.5px 0 38.5px 34px;
	border-color: transparent $darkFaded transparent transparent ;
 }

 .fp-slidesNav, .bottom {
 	display:none;
 }

 #fp-nav.right{
 	position:absolute;
 	right:0;
 	left:50em;
 	top:24.9%;
 	margin:auto;
 }

 #fp-nav ul {
 	
 }

#fp-nav ul li a span{
 	background:$darkFaded;
 	border:none;
 }

 #fp-nav ul li a.active span{
 	background:$light;
 	border:none;
 }

 #fp-nav li:nth-child(1) {
 	margin-left:18em;
 	margin-top:-1em;

 }

  #fp-nav li:nth-child(2) {
 	margin-left:30.1em;
 	margin-top:5%;

 }

  #fp-nav li:nth-child(3) {
 	margin-left:34.3em;
 	margin-top:15%;

 }

  #fp-nav li:nth-child(4) {
 	margin-left:25em;
 	margin-top:12.8%;

 }

   #fp-nav li:nth-child(5) {
 	margin-left:9em;
 	margin-top:-3.2%;

 }

    #fp-nav li:nth-child(6) {
 	margin-left:1.85em;
 	margin-top:-15%;

 }

     #fp-nav li:nth-child(7) {
 	margin-left:5.8em;
 	margin-top:-16.4%;

 }