body{
	font-family:'Montserrat';
}

.four p {
	font-family:'Montserrat';
	font-weight:300;
	font-size:30em;
	color:$darkFaded;
}
.three p {
	font-family:'Montserrat';
	font-weight:400;
	font-size:30em;
	color:$darkFaded;
}

h1, h2, h3, h4{
	font-family: 'Teko';
}

h2{
	font-weight:300;
	text-transform:uppercase;
	letter-spacing:.1em;
}

h6 {
  letter-spacing: 0.10em;
  font-family: 'Teko';
  font-weight: 400;
  font-size: 3.5em;
  padding-top: .15em;
  line-height: 0.6em;
  text-align: center;
}

.nav .modal-body p{
	color:$light;
}