.center-abs{
  position: absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  margin:auto;
}

.min-content{
  width:min-width;
  width:-webkit-min-content;
  height:min-content;
  height:-webkit-min-content;
}